<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.wyw.pojo"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper class="com.wyw.dao.StudentMapper"/>
        <mapper class="com.wyw.dao.BookMapper"/>
        <mapper class="com.wyw.dao.ReturnMapper"/>
        <mapper class="com.wyw.dao.AdministerMapper"/>
        <mapper class="com.wyw.dao.BorrowMapper"/>
        <mapper class="com.wyw.dao.CommentMapper"/>
    </mappers>
</configuration>