<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyw.dao.AdministerMapper">


    <select id="searchAdminById" parameterType="int" resultType="Administer">
        select * from librarysystem.administer where aId=#{aId}
    </select>
</mapper>